absl-py==0.13.0; python_version >= "3.7"
chex==0.0.8; python_version >= "3.6"
cycler==0.10.0; python_version >= "3.7"
dm-tree==0.1.6; python_version >= "3.6"
flatbuffers==2.0; python_version >= "3.7"
jax==0.2.18; python_version >= "3.7"
jaxlib==0.1.70; python_version >= "3.7"
kiwisolver==1.3.1; python_version >= "3.7"
matplotlib==3.4.3; python_version >= "3.7"
numpy==1.21.1; python_version >= "3.7"
opt-einsum==3.3.0; python_version >= "3.7"
optax==0.0.9; python_version >= "3.6"
pillow==8.3.1; python_version >= "3.7"
pyparsing==2.4.7; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
python-dateutil==2.8.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
scipy==1.6.1; python_version >= "3.7"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
toolz==0.11.1; python_version >= "3.6"
